.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
        flex: 1;
        text-align: center;
        padding: 1rem;
        background-color: #ccc;
    }
    .active {
        background-color: rgb(104, 2, 2);
        color: white;
    }
}
